<!DOCTYPE html>
<html>

<head>
    <%- include('../../template/partial/head'); %>
</head>

<body>
    <header>
        <%- include('../../template/partial/header_no_auth'); %>
    </header>

    <div class="content">
        <div>  
            <h1 style="text-align: center;">Broken Box</h1>
            <br/>
            <br/>
            <br/>
            <p style="color:grey">Training material for SUTS<br/>Feel free to exploit the web application</p>
        </div>
    </div>


    <footer>
        <%- include('../../template/partial/footer'); %>
    </footer>

    <%- include('../../template/partial/scripts'); %>
</body>

</html>